<section id="footer" class="section">
    <section class="container {{ grid_size }}">
       <p>&copy;2024 VJUSTINPIETERSEN</p>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
</section>
